* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
}

body{
    background: radial-gradient(at center center, rgb(156, 163, 175), rgb(75, 85, 99), rgb(30, 64, 175));
}

main{
    padding: 40px;
}

.header-gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.hero{
    margin: 40px;
    text-align: center;
    font-size: 80px;
    color: #1278BF;
    text-shadow: 0px 0px 9px #508AD3;
}

.input-gif{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    padding: 10px 15px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 30px;
    margin-left: 30px;
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
}

.card img {
    width: 100%;
}